/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/
html,
body {
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #40424a;
  margin: 0;
  font-weight: 600;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
  color: #808181;
  line-height: 1.8;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a,
a:hover,
a:active,
a:focus {
  color: #249d8b;
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/
.spad {
  padding-top: 125px;
  padding-bottom: 110px;
}

.section-title h2 {
  display: inline-block;
  position: relative;
  margin-bottom: 110px;
  padding-bottom: 2px;
  line-height: normal;
}

.section-title h2:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #40424a;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

/*------------------------
  Common Elements
--------------------------*/

/* Preloder */
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #fff;
}

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  border-left-color: transparent;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* Site Buttons */
.site-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  min-width: 213px;
  min-height: 20px;
  text-align: center;
  padding: 20px 10px 15px;
  position: relative;
  background-color: #fff;
  margin-right: 10px;
  border: 2px solid #40424a;
  color: #40424a;
  font-weight: 700;
}

.site-btn:hover {
  color: #40424a;
}

.circle-progress {
  text-align: center;
  padding-top: 30px;
  display: inline-block;
}

.circle-progress .prog-circle {
  margin-bottom: -155px;
}

.circle-progress canvas {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle-progress .progress-info {
  background: #f2f7f8;
  width: 127px;
  height: 127px;
  border-radius: 150px;
  margin: 0 auto;
  padding-top: 45px;
}

.circle-progress .progress-info h2 {
  font-size: 36px;
  color: #40424a !important;
}

.circle-progress .prog-title {
  text-align: center;
  margin-top: 55px;
}

.circle-progress .prog-title h3 {
  font-size: 16px;
  text-transform: uppercase;
}

.circle-progress .prog-title p {
  font-size: 15px;
  color: #808181 !important;
}

/* Image Popup */
.img-popup-warp .mfp-content,
.img-popup-warp.mfp-ready.mfp-removing .mfp-content {
  opacity: 0;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* Fact box */
.fact-box {
  height: 375px;
  display: table;
  width: 100%;
  background: #40424a;
}

.fact-box.trans {
  background-color: transparent;
}

.fact-box .fact-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fact-box .fact-content img {
  width: 60px;
  margin-bottom: 30px;
}

.fact-box .fact-content h2 {
  font-size: 36px;
  color: #fff;
}

.fact-box .fact-content p {
  color: #fff;
  margin-bottom: 0;
}

/* Porgess bar */
.single-progress-item {
  margin-bottom: 35px;
  position: relative;
}

.single-progress-item p {
  color: #40424a;
  margin-bottom: 0;
  font-weight: 600;
}

.progress-bar-style {
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.bar-inner {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #40424a;
}

.bar-inner span {
  position: absolute;
  right: 0;
  bottom: -30px;
  color: #40424a;
  font-weight: 600;
}

/* Progress dots */
.language-progress {
  max-width: 280px;
  list-style: none;
}

.language-progress li {
  font-size: 24px;
  position: relative;
  padding-right: 150px;
  margin-bottom: 30px;
}

.language-progress .lan-prog {
  position: absolute;
  right: 0;
  top: 0;
}

.language-progress .lan-prog span {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 18px;
  border-radius: 12px;
  background: #40424a;
}

.language-progress .lan-prog span.fade-ele {
  background: #cacaca;
}

/* Icon Box */
.icon-box {
  text-align: center;
  display: inline-block;
  margin-right: 60px;
}

.icon-box:last-child {
  margin-right: 0;
}

.icon-box i {
  font-size: 60px;
}

.icon-box p {
  color: #40424a;
}

.social-links a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*---------------------
	Header section
-----------------------*/
.header-section {
  padding: 50px 40px;
  background: #f2f7f8;
}

.site-logo h2 {
  font-size: 36px;
  letter-spacing: -15px;
}

.site-logo h2 a {
  color: #40424a;
}

.navbar {
  padding: 20px 40px;
  background: #f2f7f8 !important;
}

.navbar-toggler {
  border: 2px solid #4d4d4d !important;
  border-radius: 0 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #4d4d4d;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #00a08c;
}

/*---------------------
	Hero section
-----------------------*/
.hero-section {
  background: #f2f7f8;
}

.hero-text {
  margin-bottom: 80px;
}

.hero-text h2 {
  font-size: 170px;
  line-height: normal;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 28px;
  line-height: 1.5;
}

.hero-image {
  max-width: 400px;
  margin: 0 auto;
}

.hero-image img {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 4px solid #4d4d4d;
}

.hero-info h2 {
  margin-bottom: 30px;
}

.hero-info ul {
  list-style: none;
}

.hero-info ul li {
  font-size: 24px;
  color: #808181;
  margin-bottom: 15px;
}

.hero-info ul li span {
  color: #40424a;
  display: inline-block;
  border-bottom: 2px solid #404249;
  margin-right: 14px;
  margin-bottom: 10px;
}

.hero-info ul li:last-child {
  margin-bottom: 0;
}

.hero-tech-tag {
  background: #484848;
  color: #f9f9f9;
  padding: 5px 8px;
  font-size: 11px;
  margin-bottom: 5px;
}

/*---------------------
	Social section
-----------------------*/
.social-section {
  background: #f9f9f9;
  padding: 80px 0;
}

.social-section .social-links {
  display: inline-block;
  background: #f9f9f9;
  position: relative;
  z-index: 5;
}

.social-section .social-links a {
  color: #484848;
  font-size: 36px;
  margin-right: 40px;
}

.social-section .social-link-warp {
  position: relative;
}

.social-section .social-link-warp h2 {
  display: inline-block;
  float: right;
  font-weight: 400;
  padding-left: 30px;
  background: #f9f9f9;
  position: relative;
  z-index: 5;
}

.social-section .social-link-warp:after {
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  left: 23%;
  top: 50%;
  margin-top: 1px;
  background: #cbcbcb;
}

/*---------------------
	Resume section
----------------------*/
.resume-section.with-bg {
  background-image: url(/assets/images/resume-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.resume-list {
  list-style: none;
  margin-left: 60px;
  padding-left: 110px;
  border-left: 2px solid #40424a;
}

.resume-list li {
  margin-bottom: 120px;
  position: relative;
}

.resume-list li:last-child {
  margin-bottom: 0;
}

.resume-list li:after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border: 2px solid #40424a;
  border-radius: 50px;
  background: #cacaca;
  top: 30px;
  left: -118px;
}

.resume-list h2 {
  font-size: 50px;
  margin-bottom: 10px;
}

.resume-list h4 {
  font-size: 16px;
  text-transform: uppercase;
  color: #808181;
  margin-top: 10px;
  margin-bottom: 45px;
}

/*---------------------
	Review section
-----------------------*/
.review-slider {
  padding-left: 150px;
}

.review-slider .owl-dots {
  position: absolute;
  left: 50px;
  top: 70px;
}

.review-slider .owl-dots .owl-dot {
  width: 12px;
  height: 12px;
  border: 2px solid #40424a;
  border-radius: 50px;
  background: #cacaca;
  margin-bottom: 15px;
  display: block;
}

.review-slider .owl-dots .owl-dot.active {
  background: #40424a;
}

.single-review .qut {
  font-size: 120px;
  line-height: 0;
  color: #505259;
  margin-top: 60px;
}

.single-review p {
  margin-bottom: 40px;
}

.single-review h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.single-review h4 {
  font-size: 16px;
}

/*---------------------
	Portfolio section
----------------------*/
.portfolio-warp {
  padding: 0 60px;
}

.portfolio-item h2 {
  font-size: 24px;
  margin-bottom: 0;
}

.portfolio-item .port-pic {
  margin-bottom: 30px;
  display: block;
  height: 250px;
  background: #333 center center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  color: #ffffff !important;
  font-size: 70px;
  font-weight: 700;
  line-height: 250px;
  text-align: center;
}

/*---------------------
	Contact section
-----------------------*/
.contact-form {
  display: block;
  width: 100%;
}

.contact-form input {
  background-color: transparent;
  padding-left: 25px;
  height: 60px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cacaca;
  margin-bottom: 30px;
  font-size: 13px;
}

.contact-form textarea {
  padding-left: 25px;
  height: 200px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #cacaca;
  margin-bottom: 30px;
  font-size: 13px;
  background-color: transparent;
}

.contact-form ::-webkit-input-placeholder {
  font-style: italic;
}

.contact-form :-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::-ms-input-placeholder {
  font-style: italic;
}

.contact-form ::placeholder {
  font-style: italic;
}

/*---------------------
	Footer section
-----------------------*/
.footer-section {
  background: #40424a;
  padding: 20px 0;
}

.copyright {
  padding-top: 5px;
  font-size: 12px;
  color: #ffffff;
  line-height: normal;
}

.copyright a,
.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  color: #ffffff;
}


/* ===========================
  Responsive
==============================*/
@media only screen and (max-width: 1600px) {
  .hero-text h2 {
    font-size: 120px;
  }
}

@media only screen and (max-width: 1366px) and (min-width: 1200px) {
  .container-warp {
    min-width: 80%;
    margin-left: 10%;
  }

  .hero-info ul li span {
    min-width: 180px;
  }
}

/* Medium screen : 992px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .portfolio-warp {
    padding: 0;
  }

  .portfolio-item {
    margin-bottom: 30px;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio-warp {
    padding: 0;
  }

  .hidden-md {
    display: none !important;
  }

  .icon-box {
    margin-right: 30px;
  }

  .social-section .social-links {
    display: block;
    text-align: center;
  }

  .social-link-warp:after {
    display: none;
  }

  .portfolio-item {
    margin-bottom: 30px;
  }

  .info-section .hero-info ul li span {
    color: #9c9b9b;
  }

  .hero-info ul li {
    margin-bottom: 30px;
  }

  .hero-info ul li span {
    display: block;
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .icon-box {
    margin-right: 30px;
    text-align: left;
  }

  .hero-text h2 {
    font-size: 80px;
  }

  .portfolio-warp {
    padding: 0;
  }

  .hidden-md {
    display: none !important;
  }

  .resume-list {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }

  .review-slider {
    padding-left: 0;
  }

  .review-slider .owl-dots {
    position: relative;
    left: 0;
    top: 70px;
  }

  .review-slider .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 15px;
  }

  .portfolio-item {
    margin-bottom: 30px;
  }

  .fact-box {
    margin-bottom: 30px;
  }

  .header-section {
    padding: 50px 0;
  }

  .social-section .social-links {
    display: block;
    text-align: center;
  }

  .info-section .hero-info ul li span {
    color: #9c9b9b;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .hero-image-wrapper {
    display: none !important;
    visibility: hidden !important;
  }

  .hero-text h2 {
    font-size: 50px;
  }

  .hero-info ul li {
    font-size: 18px;
  }

  .hero-info ul li span {
    display: block;
  }

  .social-section .social-links a {
    margin-right: 30px;
  }

  .resume-list h2 {
    font-size: 40px;
  }

  .section-title h2 {
    font-size: 36px;
    margin-bottom: 60px;
  }

  .portfolio-item {
    margin-bottom: 30px;
  }

  .hero-image {
    margin-top: 40px;
  }
}
