<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="I am a results-driven, customer-focused and articulate Software Engineer who can think “out of the box”. Strong in design and integration problem solving skills. Expert in PHP, LARAVEL, YII, JAVASCRIPT, NODE-JS, REACTJS, ANGULAR and MYSQL with database analysis and design. Skilled in developing requirements specifications, user documentation, and architectural systems research.">
<meta name="image" content="http://oshomo.oforomeh.com/assets/img/oshomo.jpg">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Oshomo Oforomeh">
<meta name="twitter:description" content="I am a results-driven, customer-focused and articulate Software Engineer who can think “out of the box”. Strong in design and integration problem solving skills. Expert in PHP, LARAVEL, YII, JAVASCRIPT, NODE-JS, REACTJS, ANGULAR and MYSQL with database analysis and design. Skilled in developing requirements specifications, user documentation, and architectural systems research.">
<meta name="twitter:site" content="@hoshomoh">
<meta name="twitter:creator" content="@hoshomoh">
<meta name="twitter:image:src" content="https://oshomo.oforomeh.com/assets/img/oshomo.jpg">
<meta name="og:title" content="Oshomo Oforomeh">
<meta name="og:description" content="I am a results-driven, customer-focused and articulate Software Engineer who can think “out of the box”. Strong in design and integration problem solving skills. Expert in PHP, LARAVEL, YII, JAVASCRIPT, NODE-JS, REACTJS, ANGULAR and MYSQL with database analysis and design. Skilled in developing requirements specifications, user documentation, and architectural systems research.">
<meta name="og:image" content="https://oshomo.oforomeh.com/assets/img/oshomo.jpg">
<meta name="og:url" content="https://oshomo.oforomeh.com">
<meta name="og:site_name" content="Oshomo Oforomeh">
<meta name="og:locale" content="en_UK">
<meta name="og:type" content="website">
<meta key="theme-color" name="theme-color" content="#f2f7f8" />
<meta key="apple-status-bar-color" name="apple-mobile-web-app-status-bar-style" content="#f2f7f8" />
<link rel="shortcut icon" href="/assets/images/favicon.ico?updated" type="image/x-icon">
<link rel="icon" href="/assets/images/favicon.ico?updated" type="image/x-icon">
<link rel="apple-touch-icon" href="/assets/images/manifest-icon-192.png" />
<link rel="manifest" href="/manifest.json" />
